$text_color: #555;
$border_color: #a1887f;

$form_input_color: #795548;

$nav_color: #6d4c41;
$nav_text_color: white;

$scroll_bar_color: #3e2723;
// $scroll_bar_color: #a1887f;
// $scroll_thumb_color: #3e2723;
$scroll_thumb_color: #8d6e63;
