body {
    color: $text_color !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    background: $scroll_bar_color;
}

::-webkit-scrollbar-thumb {
    background: $scroll_thumb_color;
    -webkit-border-radius: 0;
    -webkit-box-shadow: 0px 1px 2px rgba(188, 170, 164, 0.75);
}