@import "_colors";
@import "_general";
@import "_forms";

nav, footer {
    background-color: $nav_color !important;
    
    & * {
        color: $text_color !important;
        color: $nav_text_color !important;        
    }
}

.section {
    .card-title {
        font-weight: bold;
    }
}

.dotted-border {
    border: thick dashed $border_color;
}

#json-pane {
    .nav-wrapper {
        padding: 7px;

        .btn {
            margin-top: 5px;
        }
    }

    textarea {
        background: white;
        resize: none;
    }

    .json-window {
        padding: 7px;
        min-height: 100px;
        height: 250px;
        overflow-y: auto;

        border: thin solid $border_color;
    }
}

.progress {

    background-color: $progress_bg;

    .determinate {
        background-color: $form_input_color;
    }
}